params.ref_annotation = '/home/sguizard/Work/Dev/github/nf-feelnc/assets/test/Sus_scrofa.Sscrofa11.1.105.chr16.gtf'
params.new_annotation = '/home/sguizard/Work/Dev/github/nf-feelnc/assets/test/pig_hc.chr16.gtf'
params.genome = '/home/sguizard/Work/Dev/github/nf-feelnc/assets/test/Sus_scrofa.Sscrofa11.1.dna.chromosome.16.fa.gz'