params.ref_annotation = '/home/sguizard/Work/Dev/github/nf-feelnc/testing/Sus_scrofa.Sscrofa11.1.105.chr15.gtf'
params.new_annotation = '/home/sguizard/Work/Dev/github/nf-feelnc/testing/pig_hc.chr15.gtf'
params.genome = '/home/sguizard/Work/Dev/github/nf-feelnc/testing/Sus_scrofa.Sscrofa11.1.dna.chromosome.15.fa.gz'
